#logLink {
    position: absolute;
    top: 5px;
    right: 0;
    display: block;
    text-align: right;
}

#userLinks {
    position: absolute;
    top: 5px;
    right: 0;
}

#logoBig {
    width: 600px;
}

#searchDiv {
    padding-top: 30px;
    margin: 0 auto;
    width: 600px;
}

#searchBar {
    width: 525px;
    float: left;
}

#searchButton {
    float: right;
}

#infoP {
    text-align: center;
}
