#error {
    text-align: center;
    color: orangered;
    margin-bottom: 10px;
}

#loginDiv {
    padding-top: 300px;
    width: 252px;
    margin: 0 auto;

}

label {
    margin-right: 10px;
}

#loginButton {
    float: right;
    margin-right: 5px;
}
