.tdLeft {
    text-align: right;
    font-weight: bold;
}

td {
    padding: 0 5px;
}

table, td, th, tr {
    border: 1px solid black;
}

th {
    text-align: center;
}

table {
    margin: 40px auto;
}